/*setting*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;

font-size: 16px;
font-weight: 700;
color:white ;
list-style:none;
}
body{
    background-image: url(image/landing_page_backround.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}
.centering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*top*/
.homePageTitle{
font-size: 4vw;
color: white;
opacity: 0.7;

margin-top:1vw; 

display: flex;
align-items: center;
justify-content: center;
}
/*main*/
.googleParent{
margin-top: 2vw;
margin-left: 20vw;
margin-right: 20vw;

border: 2px solid black;
border-radius: 20px;
background:linear-gradient(black,#202121,#6a6d6e,#969899);

width: 90vw;
height: 4vw;
display: flex;
justify-content: center;
align-items: center;
}
.googleParent:hover{
    background: #696868;
}
.googleImage{
width: 10vw;
}
.middleElementParent1{
margin-top: 3vw;
margin-left: 10vw;
margin-right: 10vw;
        
width:60vw;
height:8vw;
        
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;



gap:5vw;
}
.middleImageParent2{
border: 2px solid black;
background:linear-gradient(black,#545353,#d60606);
border-radius: 1vw;

width: 15vw;
height: 7vw;

display: flex;
justify-content: center;
align-items: center;

}
.middleImageParent2:hover{
    background: #d60606;
}
/*image sizes*/
.youtubeImage{
width: 13vw;
}
.facebookImage{
width: 6vw;
}
.facebookMassngerImage{
    width: 6vw;
}
.googleDriveImage{
width: 7vw;
}
.googleTranslaterImage{
width: 6vw;
}
.gmailImage{
    width: 8vw;
}
/*bottom*/
h2{
    font-size:4vw;
    font-weight:700;
   
}
.botomItemsCentering{
    margin-top: 16vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9vw;
    
}
.bottomH2Parent{
border: 3px solid black;
border-radius: 2vw;
background:linear-gradient(black,#202121,#6a6d6e,#969899);

width: 25vw;
height: 10vw;

display: flex;
justify-content: center;
align-items: center;

}
/*hovers*/
.hovercolorGaming:hover{
background: #10871c;
}
.hovercolorPrograming:hover{
background:#2878a6 ;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

@media (max-width:550px){
    .homePageTitle{
    font-size: 6vw;

    margin-top:3vw; 
    margin-bottom: -1vw;
    }
    .middleElementParent1{
    margin-top: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
                
    width:90vw;
    height:65vw;
                
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
        
    
        
    gap:5vw;
    }
    .middleImageParent2{
    border: 2px solid black;
    background:linear-gradient(black,#545353,#d60606);
    border-radius: 3vw;
        
    width: 40vw;
    height: 25vw;
        
    display: flex;
    justify-content: center;
    align-items: center;
        
    }
    .googleParent{
    margin-top: 5vw;
        
    width: 90vw;
    height: 15vw;
    }
    .googleImage{
        width: 40vw;
    }
    
   /*image sizes*/
   .youtubeImage{
    width: 37vw;
    }
    .facebookImage{
    width: 22vw;
    }
    .facebookMassngerImage{
        width: 22vw;
    }
    .googleDriveImage{
    width: 25vw;
    }
    .googleTranslaterImage{
    width: 22vw;
    }
    .gmailImage{
        width: 27vw;
    }
    
    .bottomH2Parent{
    margin-top: 10vw;

    width: 40vw;
    height: 25vw;
    border-radius: 23px;
    }
    h2{
    font-size:6vw;
    font-weight:700;
    }

 
}