*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-image: url(images/background.webp);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.centering{
display: flex;
justify-content: center;
align-items: center;
}
#programingTitle{
font-size: 4vw;
color: black;
opacity: 0.7;

margin-top:1vw; 

display: flex;
align-items: center;
justify-content: center;
}
.flexContainer{
    /*ezt majd egy margine parancsba össz kell rakni*/
margin-top: 2vw;
margin-left: 2vw;
margin-right: 2vw;
margin-bottom: 2vw;

display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 2vw;

cursor: pointer;
}
.f_items{
display: flex;
justify-content: center;
align-items: center;

border: 3px solid black;
border-radius: 20px;
background:linear-gradient(black,#545353,#0c9bed);

font-size: 1.5vw;
font-weight: 700;
font-style: italic;
color:#fcfeff ;

width: 15vw;
height: 7vw;

text-align: center;
}
.f_items:hover{
background: #0c9bed;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
#toolsTitle{
font-size: 3vw;
color: #0c9bed;

border: 3px solid black;
background:linear-gradient(black,#202121,#6a6d6e,#969899);
margin-top:1vw; 

            
width: 100%;
height: 3vw;
display: flex;
align-items: center;
justify-content: center;
}

.bottomDivParant{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

width: 80vw;
}

.tools{
width: 20vw;
height: 8vw;

margin-top: 2vw;
margin-left: 5vw;
margin-right: 5vw;

border: 3px solid black;
border-radius: 20px;
background:linear-gradient(black,#545353,#0c9bed);

display: flex;
justify-content: center;
align-items: center;

font-size: 2vw;
color: white;
font-weight: 700;
text-align: center;
}
.tools:hover{
background: #0c9bed;
}
@media  (max-width:550px) {
    #programingTitle{
    font-size: 10vw;

    margin-top:1vw; 
    }
    .f_items{  
    font-size: 4vw;
        
    width: 40vw;
    height: 15vw;
    }
    #toolsTitle{
    font-size: 8vw;
    color: #0c9bed;
        
    border: 3px solid black;
    background:linear-gradient(black,#202121,#6a6d6e,#969899);
    margin-top:1vw; 
        
                    
    width: 100%;
    height: 10vw;
    }
    .bottomDivParant{
    width: 100vw;
    }
    .tools{
    width: 38vw;
    height: 20vw;
    
    margin: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;

    border-radius: 20px;
        
    font-size: 4vw;   
    }
}